#!/usr/bin/make -f
# -*- makefile -*-

METNO_CONFIG = @METNO_CONFIG@
METNO_SUFFIX = @METNO_SUFFIX@

include /usr/share/metno-devscripts/metno_rules.mk

do-configure:
	./autogen.sh
	./configure $(confflags) \
		--prefix=/usr --sysconfdir=/etc --localstatedir=/var
